<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- this is the Message Driven POJO (MDP) -->
  <bean id="messageListener" class="com.oracle.example.springjmsmdp.SpringMDP" />

<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
 <property name="environment">
   <props>
     <prop key="java.naming.factory.initial">weblogic.jndi.WLInitialContextFactory</prop>
     <prop key="java.naming.provider.url">t3://localhost:7001</prop>
   </props>
 </property>
</bean>
<bean id="connectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
 <property name="jndiTemplate">
   <ref bean="jndiTemplate" />
 </property>
 <property name="jndiName">
   <value>jms/connectionFactory</value>
 </property>
</bean>

<bean id="queue" class="org.springframework.jndi.JndiObjectFactoryBean">
 <property name="jndiTemplate">
   <ref bean="jndiTemplate" />
 </property>
 <property name="jndiName">
   <value>jms/testQueue</value>
 </property>
</bean>


  <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    <property name="concurrentConsumers" value="5" />
    <property name="connectionFactory" ref="connectionFactory" />
    <property name="destination" ref="queue" />
    <property name="messageListener" ref="messageListener" />
  </bean>
</beans>